.sliderBgImg {
  height: 450px;
  width: 600px;
  background-color: #000;
  border-radius: 40px;
  position: relative;
  margin: 0 auto;
  color: #d1c1c1;
}
.sliderIimg {
  position: absolute;
  left: -50px;
  top: -40px;
  border-radius: 40px;
}
.bd{
  background-color: red!important;
  width: 200px!important;
  display: none;
}
@media only screen and (max-width: 1260px) {
  .sliderBgImg {
    width: 500px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sliderIimg {
    height: 100%;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 1070px) {
  .sliderBgImg {
    width: 440px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative;
  }
  .sliderIimg {
    width: 100% !important;
    position: absolute;
    left: 0px;
  }
  .ulClass li:nth-child(1){
    display: none!important;
    background-color: red!important;
  }
}
@media only screen and (max-width: 1023px) {
  .sliderBgImg {
    background-color: #F3F4F6;
  }
  .sliderBgImg {
   width: 500px;
     
  }
  .sliderIimg {
    width: 100% !important;
    position: absolute;
    left: 0px;
  }
}
@media only screen and (max-width: 560px) {
  .sliderBgImg {
    width: 450px;
   /* background-color: #ffff00; */
      
   }
}