.modal {
  position: fixed;
  right: -2000px;
  top: 0;
  z-index: 2;
  transition: 1s;
}
.open {
  right: 0;
}
.modalFatFoodClass {
  position: fixed;
  visibility: visible;
  right: 285px;
  top: 135px;
}
.openFatFoodClass {
  visibility: visible;
  animation: slideIn 0.5s ease-in-out;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
