.list-item {
  display: block;
}

.modalLangClass {
  position: fixed;
  visibility: hidden;
  /* right: 120px; */
  top: 15px;
  overflow-x: auto;
  height: 100vh;
  /* z-index: ; */
}
.openLangClass {
  visibility: visible;
  animation: slideIn 0.5s ease-in-out;
  z-index: 99;
  position: absolute;
  top: 0px;
  height: 100vh;
  background-color: white !important;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(0%);
    height: 100vh;
    z-index: 9999;
  }
  to {
    opacity: 4;
    transform: translateY(0);
    height: 100vh;
    z-index: 9999;
  }
}
.modalProfilClass {
  position: fixed;
  visibility: hidden;
  /* left: 150px; */
  top: 0px;
  /* border-radius: 5px; */
}
.openProfilClass {
  z-index: 3;
  width: 200px;
  /* border: 1px solid #c4c4cc; */
  border-radius: 5px;
  position: absolute;
  height: 240px;
  right: 0px;
  visibility: visible;
  animation: slideNavOne 0.5s ease-in-out;
}

@keyframes slideNavOne {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
